/* Utilities */

body {
    text-align: left;
}

hr {
    margin: 50px auto;
    border-color: rgb(138, 135, 135);
    width: 50%;
}

h1,
h2,
h3,
h6 {
    margin: 50px auto;
    line-height: 1.5;
    text-align: left;
}

p {
    line-height: 1.5;
    text-align: left;
    font-size: 1.1rem;
    color: rgba(88, 90, 92, 0.938);
}

strong {
    margin: 40px auto;
}

.wrapper {
    padding-left: 5%;
    padding-right: 5%;
}

a:hover {
    text-decoration: none;
}


/* navbar */

.navbar {
    background-color: steelblue;
    position: sticky;
}

.nav-item {
    padding: 0 18px;
    font-family: 'Ubuntu', sans-serif;
    color: rgba(211, 209, 207, 0.904);
}

.navbar-brand {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 2.3rem;
    padding-left: 1.2%;
}

.header {
    background-color: #c0e3fab9;
    padding: 3% 5%;
    position: sticky;
}

.lang-img {
    margin-left: 6%;
    margin-top: 3%;
    padding-bottom: 2%;
}

.cpp-img {
    width: 60%;
}

.languages {
    width: fit-content;
    margin: 5%;
}

.card {
    background-color: rgba(241, 241, 241, 0.788);
}


/* UTILITIES */

.editor-contents code,
.editor-contents samp,
.editor-contents var {
    border: 1px solid #d3dce6;
    background-color: #f5f5f5;
    padding: 0 8px;
    border-radius: 4px;
    font-style: normal;
    font-family: "Droid Sans Mono", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier", monospace;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    line-height: 20px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #383a42;
    background: #fafafa;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #4078f2;
}

.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
}

.hljs-built_in,
.hljs-class .hljs-title {
    color: #c18401;
}

.para {
    padding-left: 20px;
    padding-right: 20px;
}

.body {
    font-family: 'Varela Round', sans-serif;
    background-color: white;
}

.but a {
    color: white
}

.btn-primary {
    color: #fff;
    background-color: steelblue;
    border-color: steelblue;
}

.but {
    font-size: 1.1rem;
    color: rgba(88, 90, 92, 0.938);
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 50px;
    margin-top: 15px;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-right: 0;
}

.card {
    padding: 2%;
    width: 96%;
    height: 95%;
    box-shadow: 1px 1px 5px 3px #9babf0b7;
}

.pre-footer {
    text-align: center;
}


/* footer*/

footer {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color: steelblue;
    padding: 2%;
    margin-top: 3%;
    text-align: center;
}

.foot-header {
    margin-bottom: 8px;
    margin-top: 0;
}

.footer-links {
    margin-bottom: 1%;
}

.foot {
    text-align: center;
    color: white;
}

.icons {
    padding-left: 15px;
}

pre {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid #d3dce6;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    font-family: "Droid Sans Mono", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier", monospace;
    font-size: 14px;
    line-height: 20px;
    overflow: auto;
    margin-left: 10px;
    text-align: left;
}